
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    --background: linear-gradient(135deg, rgba(42,123,155,1) 0%, rgba(87,199,133,1) 58%, rgba(237,221,83,1) 100%);
    width: 100%;
    height: 360px;
    padding: 5px;
    border-radius: 1rem;
    background: var(--background);
    position: relative;
    z-index: 1;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

    .card::after {
        position: absolute;
        content: "";
        top: 35px;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        transform: scale(0.85);
        filter: blur(30px);
        background: var(--background);
        transition: opacity 0.5s;
    }

.card-info {
    background: #ffffff;
    color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
    transition: color 0.5s ease;
}


.card .title {
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
}

    .card:hover::after {
        opacity: 0;
    }

    .card:hover .card-info {
        color: rgba(42,123,155,1);
        transition: color 0.5s ease;
    }
